<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hackers@UPC - Flask-a-judge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Hackers@UPC - Flask-a-judge</h2>
  <hr />
  <p>Ooops!! There seems to be some erros! Fix them ASAP and compile again!</p>
  <div class="form-group">
    <label for="errors">Errors:</label>
    <textarea style="font-family: Liberation Mono" readonly class="form-control" rows="30" name="errors" id="errors">{{ errors }}</textarea>
  </div>
  <a href="/" class="btn btn-primary btn-block active" role="button" aria-pressed="true">Back to the lab</a>
</div>

</body>
</html>

